<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DaoImpl.BrandInfoMapper" >
  <resultMap id="BaseResultMap" type="Entity.BrandInfo" >
    <id column="BrandNo" property="brandno" jdbcType="VARCHAR" />
    <result column="BrandName" property="brandname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BrandNo, BrandName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from brand
    where BrandNo = #{brandno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from brand
    where BrandNo = #{brandno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Entity.BrandInfo" >
    insert into brand (BrandNo, BrandName)
    values (#{brandno,jdbcType=VARCHAR}, #{brandname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Entity.BrandInfo" >
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandno != null" >
        BrandNo,
      </if>
      <if test="brandname != null" >
        BrandName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandno != null" >
        #{brandno,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null" >
        #{brandname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.BrandInfo" >
    update brand
    <set >
      <if test="brandname != null" >
        BrandName = #{brandname,jdbcType=VARCHAR},
      </if>
    </set>
    where BrandNo = #{brandno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.BrandInfo" >
    update brand
    set BrandName = #{brandname,jdbcType=VARCHAR}
    where BrandNo = #{brandno,jdbcType=VARCHAR}
  </update>
</mapper>