<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DaoImpl.ItemCommentsInfoMapper" >
  <resultMap id="BaseResultMap" type="Entity.ItemCommentsInfo" >
    <result column="itemNo" property="itemno" jdbcType="VARCHAR" />
    <result column="commentImage" property="commentimage" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="scope" property="scope" jdbcType="SMALLINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIME" />
  </resultMap>
  <insert id="insert" parameterType="Entity.ItemCommentsInfo" >
    insert into item_comments (itemNo, commentImage, comment, 
      scope, username)
    values (#{itemno,jdbcType=VARCHAR}, #{commentimage,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{scope,jdbcType=SMALLINT}, #{username,jdbcType=VARCHAR}),#{time,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="Entity.ItemCommentsInfo" >
    insert into item_comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemno != null" >
        itemNo,
      </if>
      <if test="commentimage != null" >
        commentImage,
      </if>
      <if test="comments != null" >
        comment,
      </if>
      <if test="scope != null" >
        scope,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemno != null" >
        #{itemno,jdbcType=VARCHAR},
      </if>
      <if test="commentimage != null" >
        #{commentimage,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=SMALLINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
  </insert>
  <!-- mybatis传入值多种类型的参考链接http://openwares.net/database/mybatis_parametertype.html -->
  <select id="selectByItemNo" resultMap="BaseResultMap"  parameterType="map">
  select * from item_comments 
  where itemNo=#{itemNo,jdbcType=VARCHAR} 
  Order by time Desc
  limit #{head,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
  </select>
</mapper>