<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DaoImpl.OrderItemInfoMapper" >
  <resultMap id="BaseResultMap" type="Entity.OrderItemInfo" >
    <id column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <id column="itemNo" property="itemno" jdbcType="VARCHAR" />
    <result column="imagePath" property="imagepath" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderNo, itemNo, imagePath, quantity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Entity.OrderItemInfoKey" >
    select 
    <include refid="Base_Column_List" />
    from order_item
    where orderNo = #{orderno,jdbcType=VARCHAR}
      and itemNo = #{itemno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Entity.OrderItemInfoKey" >
    delete from order_item
    where orderNo = #{orderno,jdbcType=VARCHAR}
      and itemNo = #{itemno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Entity.OrderItemInfo" >
    insert into order_item (orderNo, itemNo, imagePath, 
      quantity)
    values (#{orderno,jdbcType=VARCHAR}, #{itemno,jdbcType=VARCHAR}, #{imagepath,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="Entity.OrderItemInfo" >
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="itemno != null" >
        itemNo,
      </if>
      <if test="imagepath != null" >
        imagePath,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="itemno != null" >
        #{itemno,jdbcType=VARCHAR},
      </if>
      <if test="imagepath != null" >
        #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.OrderItemInfo" >
    update order_item
    <set >
      <if test="imagepath != null" >
        imagePath = #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
    </set>
    where orderNo = #{orderno,jdbcType=VARCHAR}
      and itemNo = #{itemno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.OrderItemInfo" >
    update order_item
    set imagePath = #{imagepath,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER}
    where orderNo = #{orderno,jdbcType=VARCHAR}
      and itemNo = #{itemno,jdbcType=VARCHAR}
  </update>
</mapper>