<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DaoImpl.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="Entity.OrderInfo" >
    <id column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="shippingAdd" property="shippingadd" jdbcType="VARCHAR" />
    <result column="totalAmount" property="totalamount" jdbcType="DECIMAL" />
    <result column="orderTime" property="ordertime" jdbcType="TIME" />
    <result column="bill" property="bill" jdbcType="VARCHAR" />
    <result column="recipentName" property="recipentname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="returnTime" property="returntime" jdbcType="TIME" />
    <result column="expressWay" property="expressway" jdbcType="VARCHAR" />
    <result column="recipentTime" property="recipenttime" jdbcType="TIME" />
    <result column="deleteState" property="deletestate" jdbcType="BIT" />
    <result column="paymentway" property="paymentway" jdbcType="VARCHAR" />
    <result column="paymentaccount" property="paymentaccount" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderNo, shippingAdd, totalAmount, orderTime, bill, recipentName, phone, state, returnTime, 
    expressWay, recipentTime, deleteState, paymentway, paymentaccount, userId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Entity.OrderInfo" >
    insert into order (orderNo, shippingAdd, totalAmount, 
      orderTime, bill, recipentName, 
      phone, state, returnTime, 
      expressWay, recipentTime, deleteState, 
      paymentway, paymentaccount, userId
      )
    values (#{orderno,jdbcType=VARCHAR}, #{shippingadd,jdbcType=VARCHAR}, #{totalamount,jdbcType=DECIMAL}, 
      #{ordertime,jdbcType=TIME}, #{bill,jdbcType=VARCHAR}, #{recipentname,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{returntime,jdbcType=TIME}, 
      #{expressway,jdbcType=VARCHAR}, #{recipenttime,jdbcType=TIME}, #{deletestate,jdbcType=BIT}, 
      #{paymentway,jdbcType=VARCHAR}, #{paymentaccount,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="Entity.OrderInfo" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="shippingadd != null" >
        shippingAdd,
      </if>
      <if test="totalamount != null" >
        totalAmount,
      </if>
      <if test="ordertime != null" >
        orderTime,
      </if>
      <if test="bill != null" >
        bill,
      </if>
      <if test="recipentname != null" >
        recipentName,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="returntime != null" >
        returnTime,
      </if>
      <if test="expressway != null" >
        expressWay,
      </if>
      <if test="recipenttime != null" >
        recipentTime,
      </if>
      <if test="deletestate != null" >
        deleteState,
      </if>
      <if test="paymentway != null" >
        paymentway,
      </if>
      <if test="paymentaccount != null" >
        paymentaccount,
      </if>
      <if test="userid != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="shippingadd != null" >
        #{shippingadd,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIME},
      </if>
      <if test="bill != null" >
        #{bill,jdbcType=VARCHAR},
      </if>
      <if test="recipentname != null" >
        #{recipentname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="returntime != null" >
        #{returntime,jdbcType=TIME},
      </if>
      <if test="expressway != null" >
        #{expressway,jdbcType=VARCHAR},
      </if>
      <if test="recipenttime != null" >
        #{recipenttime,jdbcType=TIME},
      </if>
      <if test="deletestate != null" >
        #{deletestate,jdbcType=BIT},
      </if>
      <if test="paymentway != null" >
        #{paymentway,jdbcType=VARCHAR},
      </if>
      <if test="paymentaccount != null" >
        #{paymentaccount,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.OrderInfo" >
    update order
    <set >
      <if test="shippingadd != null" >
        shippingAdd = #{shippingadd,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null" >
        totalAmount = #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null" >
        orderTime = #{ordertime,jdbcType=TIME},
      </if>
      <if test="bill != null" >
        bill = #{bill,jdbcType=VARCHAR},
      </if>
      <if test="recipentname != null" >
        recipentName = #{recipentname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="returntime != null" >
        returnTime = #{returntime,jdbcType=TIME},
      </if>
      <if test="expressway != null" >
        expressWay = #{expressway,jdbcType=VARCHAR},
      </if>
      <if test="recipenttime != null" >
        recipentTime = #{recipenttime,jdbcType=TIME},
      </if>
      <if test="deletestate != null" >
        deleteState = #{deletestate,jdbcType=BIT},
      </if>
      <if test="paymentway != null" >
        paymentway = #{paymentway,jdbcType=VARCHAR},
      </if>
      <if test="paymentaccount != null" >
        paymentaccount = #{paymentaccount,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.OrderInfo" >
    update order
    set shippingAdd = #{shippingadd,jdbcType=VARCHAR},
      totalAmount = #{totalamount,jdbcType=DECIMAL},
      orderTime = #{ordertime,jdbcType=TIME},
      bill = #{bill,jdbcType=VARCHAR},
      recipentName = #{recipentname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      returnTime = #{returntime,jdbcType=TIME},
      expressWay = #{expressway,jdbcType=VARCHAR},
      recipentTime = #{recipenttime,jdbcType=TIME},
      deleteState = #{deletestate,jdbcType=BIT},
      paymentway = #{paymentway,jdbcType=VARCHAR},
      paymentaccount = #{paymentaccount,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR}
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </update>
</mapper>