<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DaoImpl.RefundLogInfoMapper" >
  <resultMap id="BaseResultMap" type="Entity.RefundLogInfo" >
    <id column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="logTime" property="logtime" jdbcType="TIME" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderNo, logTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from refund_log
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from refund_log
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Entity.RefundLogInfo" >
    insert into refund_log (orderNo, logTime)
    values (#{orderno,jdbcType=VARCHAR}, #{logtime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="Entity.RefundLogInfo" >
    insert into refund_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="logtime != null" >
        logTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="logtime != null" >
        #{logtime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.RefundLogInfo" >
    update refund_log
    <set >
      <if test="logtime != null" >
        logTime = #{logtime,jdbcType=TIME},
      </if>
    </set>
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.RefundLogInfo" >
    update refund_log
    set logTime = #{logtime,jdbcType=TIME}
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </update>
</mapper>