<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DaoImpl.StyleInfoMapper" >
  <resultMap id="BaseResultMap" type="Entity.StyleInfo" >
    <id column="styleNo" property="styleno" jdbcType="VARCHAR" />
    <result column="styleName" property="stylename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    styleNo, styleName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from style
    where styleNo = #{styleno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from style
    where styleNo = #{styleno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Entity.StyleInfo" >
    insert into style (styleNo, styleName)
    values (#{styleno,jdbcType=VARCHAR}, #{stylename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Entity.StyleInfo" >
    insert into style
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="styleno != null" >
        styleNo,
      </if>
      <if test="stylename != null" >
        styleName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="styleno != null" >
        #{styleno,jdbcType=VARCHAR},
      </if>
      <if test="stylename != null" >
        #{stylename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.StyleInfo" >
    update style
    <set >
      <if test="stylename != null" >
        styleName = #{stylename,jdbcType=VARCHAR},
      </if>
    </set>
    where styleNo = #{styleno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.StyleInfo" >
    update style
    set styleName = #{stylename,jdbcType=VARCHAR}
    where styleNo = #{styleno,jdbcType=VARCHAR}
  </update>
</mapper>